/work
/.project
/.settings
/.DS_Store

/node_modules

/web/src/main/webapp/.#webclasspath
/web/src/main/webapp/js/msg.js
/web/.tomcatplugin
/web/work
/web/.project
/web/.settings
/web/.classpath
/web/target
/web/src/main/webapp/datahome/work

/entity/work
/entity/.project
/entity/.settings
/entity/target
/entity/.classpath
